@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: flex;
  object-fit: cover;
}
body {
  height: 100%;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-image: url("../images/Group.png");
  background-color: #ff7979;
}

h1 {
  margin: 0;
}
main {
  flex-grow: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 165px;
  padding-right: 165px;
  gap: 45px;
}

.content__info {
  width: 100%;
  max-width: 525px;
  height: 220px;
}

.content__text__title{
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.52px;
  height: 131px;
}

.content__text__subtitle{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.content__descoription {
  height: 558px;
  width: 100%;
  max-width: 540px;
  border: none;
}

.content__item{
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: rgba(94, 84, 164, 1);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 24px;
    -webkit-box-shadow: -1px 14px 1px -1px rgba(174, 173, 184, 0.44);
    -moz-box-shadow: -1px 14px 5px -1px rgba(174, 173, 184, 0.44);
    box-shadow: -1px 11px 5px -1px rgba(172, 171, 190, 0.44);
  ;
}

.content__form {
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 0px 0px #00000025;
  border:none;
}

.content__form__list {
  width: 100%;
    max-width: 460px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    border-radius: 5px;
    margin-bottom: 20px;
    border:1px solid rgb(126, 124, 124);
}

.content__form__link {
  display: flex;
  flex-direction: column;
  width: 460px;
  padding-left: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  color: #3d3b48;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  border-radius: 5px;
}

.content__form__btn {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(56, 204, 139, 1);
  text-align: center;
  width: 100%;
  max-width: 460px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 7px 2px -1px rgba(150, 157, 159, 0.2);
  -moz-box-shadow: 0px 7px 2px -1px rgba(72, 64, 64, 0.2);
  box-shadow: 0px 7px 2px -1px rgb(16, 191, 115);
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
  &:active {
    opacity: 0.6;
  }
}

.content__form__text {
  color: rgba(186, 183, 212, 1);
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  margin-top: 8px;
}
.content__form__item {
  color: #ff7979;
}
